{% extends 'base1.html' %}
{% load static %}
{% block title %} Add New Patients Record{% endblock  %}
{% block links %} 
 <link rel="stylesheet" href=" {% static 'plugins/daterangepicker/daterangepicker.css' %} ">
 <link rel="stylesheet" href=" {% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %} ">
{% endblock  %}
{% block content-wrapper  %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>NAFH Record System</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Add New Patient</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <form method="POST" action="{% url 'recordapp:add-new-patient' %}">
                    {% csrf_token %}
                    <div class="container-fluid border">
        
                      <div class="row mb-3 mt-3">
                        
                      <div class="col-md-4 ">
                        <label for="inputHospitalNo" class="form-label radio-inline">Patient Type</label>
                        <div class="group clearfix">
                            <div class="icheck-success d-inline">
                          {{ patient_form.patient_type }}
                          
                        </div>
                    </div>
                        
                    </div>
                    <div class="col-md-4 ">
                      <label for="" class="form-label"> Patient Status </label>
                      
                        <div class="icheck-success d-inline">
                        {{ patient_form.status }}
                        
                      </div>
                   
                      
                  </div>
                  <div class="col-md-4 ">
                    <label>Gender</label>
                    <div class="group clearfix">
                        <div class="icheck-success d-inline">

                      {{patient_form.sex}}                
                     
                    </div>
                </div>
                    
                  </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-4">
                        
                         <label for="inputFirstName" class="form-label">First Name</label>
                            <div class="input-group mb-3">
                               
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                    </div>
                                    {{ patient_form.fname }}
                                </div>
                      </div>
                      

                      <div class="col-md-4">
                        <label for="inputMiddleName" class="form-label">Middle Name</label>
                        
                        <div class="input-group mb-3">
                               
                            <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            </div>
                            {{ patient_form.mname }}
                        </div>
                      </div>
                      <div class="col-md-4 ">
                        <label for="inputLastName" class="form-label">Last Name</label>
                        <div class="input-group mb-3">
                               
                            <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            </div>
                            {{ patient_form.lname }}
                        </div>
                      </div>
                    </div>
                      <div class="row mb-3">
                        
                        <div class="col-md-4">
                          <label for="inputDOB" class="form-label">DOB</label>
                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                            {{ patient_form.data_of_birth }}
                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>

                        </div>
                        <div class="col-md-4">
                          <label for="inputEmail" class="form-label">Email Address</label>
                          
                          <div class="input-group mb-3">
                               
                            <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            </div>
                            {{ patient_form.email }}
                        </div>
                        </div>
                        <div class="col-md-4">
                          <label for="inputPhone" class="form-label">Phone Number</label>
                          <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                            {{ patient_form.phone_number }}  
                                     </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-4">
                          <label for="inputOccupation" class="form-label">Occupation</label>
                          
                        <div class="input-group mb-3">
                               
                            <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            </div>
                            {{ patient_form.occupation }}
                        </div>
                    </div>
                        <div class="col-md-4">
                          <label for="inputState" class="form-label">State</label>
                         
                           <div class="input-group mb-3">
                               
                            <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            </div>
                            {{ patient_form.state_of_origin }}
                        </div>
                        </div>
                        <div class="col-md-4">
                          <label for="inputCity" class="form-label">LGA</label>
                          
                          <div class="input-group mb-3">
                               
                            <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            </div>
                            {{ patient_form.city }}
                        </div>
                        </div>
            
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-4">
                          <label for="inputTribe" class="form-label">Tribe</label>
                          <div class="input-group mb-3">
                               
                            <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            </div>
                            {{ patient_form.tribe }}
                        </div>
                        </div>
                        <div class="col-md-4">
                          <p>Religion</p>
                          <div class="form-check form-check-inline">
                            {{ patient_form.religion}}    </div>
                        </div>
                        
            
                      </div>
                      <div  class="row mb-3" >
                        <div class="col-12 d-grid gap-2" >
                          <button type="submit" class="btn btn-dark">Add New Patient</button>
                        </div>
                      </div>
                    </div>
                    </div>  
        
                  </form>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                Footer
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock  %}
{% block scripts %}
<script src=" {% static 'plugins/moment/moment.min.js' %} "></script>
<script src=" {% static 'plugins/daterangepicker/daterangepicker.js' %} "></script>
<script src=" {% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %} "></script>
<script src=" {% static 'js/javascripts.js' %} "></script>

<script>
$(function () {
    //Date picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
})
</script>
{% endblock  %}