{% extends 'base1.html' %}
{% load static %}
{% block title %} View All Patients {% endblock  %}
{% block links %} 
<!-- DataTables -->
<link rel="stylesheet" href=" {% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet" href=" {% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %} ">
<link rel="stylesheet" href=" {% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %} ">

{% endblock  %}
{% block content-wrapper  %}

<div class="content-wrapper">
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">All Patients</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>serial</th>
                    <th>Hospital No</th>
                    <th>Full Names</th>
                    <th>Phone Number</th>
                    <th>Emaile</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
            </thead>
            <tbody>
           
                <tr>
                    {% for patients in all_patient %}
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'recordapp:patient-details' patients.id %}">{{patients.hospitalNo}}</a></td>
                    <td>{{patients.full_names}}</td>
                    <td>{{patients.phone_number}}</td>
                    <td>{{patients.email}}</td>
                    <td>Age</td>
                    <td>{{patients.sex}}</td>
                    <td><a href="{% url 'recordapp:update-patient' patients.id %}" class="btn btn-sm btn-secondary">Edit</a></td>
                    <td><a href="{% url 'recordapp:delete' patients.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                  </tr>
                  {% endfor %}
                  </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>serial</th>
                    <th>Hospital No</th>
                    <th>Full Names</th>
                    <th>Phone Number</th>
                    <th>Emaile</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
  <!-- /.content-wrapper -->

{% endblock  %}
{% block scripts %}
<script src=" {% static 'plugins/datatables/jquery.dataTables.min.js' %} "></script>
<script src=" {% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %} "></script>
<script src=" {% static 'plugins/datatables-responsive/js/dataTables.responsive.min.j' %} s"></script>
<script src=" {% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %} "></script>
<script src=" {% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %} "></script>
<script src=" {% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %} "></script>
<script src=" {% static 'plugins/jszip/jszip.min.js' %} "></script>
<script src=" {% static 'plugins/pdfmake/pdfmake.min.js' %} "></script>
<script src=" {% static 'plugins/pdfmake/vfs_fonts.js' %} "></script>
<script src=" {% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %} "></script>
<script src=" {% static 'plugins/datatables-buttons/js/buttons.print.min.js' %} "></script>
<script src=" {% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %} "></script>
<script src=" {% static 'js/javascripts.js' %} "></script>

<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
{% endblock  %}