<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> NAF Hospitals-{% block title %}{% endblock  %}  </title>
  {% include 'links.html' %}
  {% block links %}{% endblock  %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
{% include 'navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
{% block aside %}{% include 'aside.html' %}{% endblock  %}

  <!-- Content Wrapper. Contains page content -->
  {% block content-wrapper  %}{% endblock  %}
  

 {% block footer %}{% include 'footer.html' %}{% endblock footer %} 
<!-- ./wrapper -->

{% include 'scripts.html' %}
{% block scripts %}{% endblock  %}
</body>
</html>
